<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ceducbh.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ceducbh</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ceducbh</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProtocoloAgil.Base.Models.Context`1" Order="1" Enabled="False">
          <Destination Path="Data Source=189.38.80.84;Initial Catalog=mestreagilweb2;Persist Security Info=True;User ID=mestreagilweb2;Password=mestre3415" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProtocoloAgil.Base.Models.Context`1, MenorAprendizWeb.Base" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ProtocoloAgilConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=189.38.80.84;Initial Catalog=mestreagilweb2;Persist Security Info=True;User ID=mestreagilweb2;Password=mestre3415" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=189.38.80.84;Initial Catalog=mestreagilweb2;Persist Security Info=True;User ID=mestreagilweb2;Password=mestre3415" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ProtocoloAgilConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=189.38.80.84;Initial Catalog=mestreagilweb2;Persist Security Info=True;User ID=mestreagilweb2;Password=mestre3415" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ProtocoloAgil.Base.Models.Context`1-Web.config Connection String">
      <ParameterValue>Data Source=189.38.80.84;Initial Catalog=mestreagilweb2;Persist Security Info=True;User ID=mestreagilweb2;Password=mestre3415</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ProtocoloAgilConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=189.38.80.84;Initial Catalog=mestreagilweb2;Persist Security Info=True;User ID=mestreagilweb2;Password=mestre3415</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ProtocoloAgil.Base.Models.Context`1" />
  </ItemGroup>
</Project>