<?xml version ="1.0" encoding ="utf-8" ?>
<configuration>
<connectionStrings>
 <add  name="ProtocoloAgilConnectionString" connectionString="Data Source=AGIL03-PC\SQLEXPRESS;Initial Catalog=FundacaCDL;Persist Security Info=True;User ID=sa;Password=mestre3415;Persist Security Info = true; MultipleActiveResultSets = True" providerName ="System.Data.SqlClient" />
 </connectionStrings >
 </configuration >